#ignore any data files
/raw_data/
/data/
/database/
vectorstore/db_faiss/train.txt.index
vectorstore/db_JSON/train.txt.json
# benchmarks/BioASQ/
# benchmarks/MedMCQA/
# benchmarks/MedQA-USMLE
# benchmarks/PubMedQA/

benchmarks/BioASQ/
benchmarks/MedMCQA/train.json
benchmarks/MedQA-USMLE/
benchmarks/PubMedQA/


