#ignore any data files
/raw_data/
/data/
database/
/database/
vectorstore/db_faiss/train.txt.index
vectorstore/db_JSON/train.txt.json
# benchmarks/BioASQ/
# benchmarks/MedMCQA/
# benchmarks/MedQA-USMLE
# benchmarks/PubMedQA/
# finetuning/cti
utilities/finetuning/cti
utilities/finetuning/finetuned_models

benchmarks/BioASQ/
benchmarks/MedMCQA/train.json
benchmarks/MedQA-USMLE/
benchmarks/PubMedQA/
artifacts/
wandb/
alpaca_gpt4_data.json
alpaca_gpt4_eval.jsonl
alpaca_gpt4_train.jsonl

#add to gitignore all files in the vectorestore directory:
vectorstores/
